<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="CleanUrls">
          <match url="^([_0-9a-z-]+)$" />
          <action type="Rewrite" url="/{R:1}.html" />
        </rule>
      </rules>
    </rewrite>
    <httpRedirect enabled="true" destination="https://www.example.com/"/>
    <defaultDocument>
      <files>
        <add value="index.html"/>
        <add value="default.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>